// notes on buttons
// change color for hover and cursor to pointer
// focus third color or maybe outline changes

//variables
$grey: #B3B1C9;
$white: #E1DFFF;

@mixin roundButton($w, $h, $color){
	width: $w;
	height: $h;
	background-color: $color;
	border-radius: 50%;
	text-align: center;
}

body {
	background-color: $grey;
}

li {
	display: inline-block;
	list-style: none;
}

aside {
	border: 1px solid aqua;
}
section {
	border: 1px solid sienna;
}
header {
	border: 1px solid red;
	h1 {
		font-size: 1.2em;
	}
}
footer{
	border: 1px solid green;
}

#cardHolder {
	background-color: $white;
}
.asideH2 {
	font-size: 1.2em;
}
.choiceBtn {
	@include roundButton(5em, 5em, #8d46b0);
	color: white;
	display: inline-block;
	font-size: 1em;
	padding-top: 1.5em;
}