// notes on buttons
// change color for hover and cursor to pointer
// focus third color or maybe outline changes

//variables

//colours
$dkblue: #45415A;
$white: #FEFEFD;
$pale: #F6E6DA;
$ltpink: #F19997;
$pink: #F5738D;
$aqua1: #6ED4D3;
$aqua2: #93d2d0;
$yellow: #FFDB65;
* {
	box-sizing: border-box;
	color: $dkblue;
}

@mixin roundButton($w, $h){
	width: $w;
	height: $h;
	border-radius: 50%;
	text-align: center;
}
//bootstrap sticky footer
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  /* The html and body elements cannot have any padding or margin. */
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}


body {
	background-color: $pale;
}

li {
	display: inline-block;
	list-style: none;
}

aside {
	background-color: $white;
	border: 1px solid black;
}
section {
	border: 1px solid black;
}
header {
	background-color: $aqua1;
	border: 1px solid black;
	h1 {
		font-size: 1.2em;
	}
}
footer{
	background-color: $aqua2;
	width: 100%;
	height: 30px;
	p {
		padding-top: 0.5em;
	}
}

#cardHolder {
	background-color: $white;
}
.asideH2 {
	font-size: 1.2em;
}
.choiceBtn {
	@include roundButton(5em, 5em);
	background-color: $ltpink;
	color: white;
	display: inline-block;
	font-size: 1em;
	padding-top: 1.5em;
	&:hover{
		background-color: $pink;
	}
}
#start {
	background-color: $yellow;
	color: $aqua1;
	border: 2px solid $dkblue;
	border-radius: 5px;
}